.dialog-content-container {
    padding: 16px 32px 16px 24px;
    background: rgb(255, 248, 41);
}

.dialog-content-header {
    display: flex;
    justify-content: space-between;
}

.dialog-title {
    color: "rgb(21,38,32)";
    font-size: 24px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    margin-bottom: 8px;
    letter-spacing: normal;
}

.dialog-close {
    cursor: pointer;
    font-size: 20px;
    color: "rgb(21,38,32)";
    height: 16px;
    text-align: center;
    width: 4px;
}

.dialog-close:hover {
    color: "rgb(21,38,32)";
}
