.container {
    width: 100%;
    height: 100%;
}

.cards-container {
    display: grid;
    grid: auto;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.search-bar {
    width: 90%;
    margin: 5px;
}

@media only screen and (min-width: 400px) {
    .cards-container {
        grid-template-columns: 1fr;
        margin: 5px;
    }

    .search-bar {
        width: 400px;
    }
}

@media only screen and (min-width: 750px) {
    .cards-container {
        grid-template-columns: 1fr 1fr;
        margin: 5px;
    }

    .search-bar {
        width: 400px;
    }
}

@media only screen and (min-width: 1000px) {
    .cards-container {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 5px;
    }

    .search-bar {
        width: 400px;
    }
}

@media only screen and (min-width: 1250px) {
    .cards-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 5px;
    }

    .search-bar {
        width: 400px;
    }
}
