body{
    background-color: rgb(21,38,32);
}

.texto{
    color: rgb(21,38,32);
    letter-spacing: 1px;
}

.container .clickable {
    cursor: pointer;
    color: rgb(97,232,220);
    text-decoration: underline;
}

.container .btn {
	margin: 5px;
	background-color: black;
    color: black;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.623);
}

.img {
    background-image: url('../../Assets/backgroundimg5.png');
    background-attachment: fixed;
    background-size: cover;
}

.txtIni {
    text-shadow: 0.1em 0.1em 0.2em black;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }