.empresaText {
    paddingtop: 200;
    display: "inline-flex";
    text-size-adjust: 33;
    text-: "italic";
    fontweight: "bold";
}

.instaText {
    color: purple;
}

.textoSobreNos {
    color: red;
}

.empresaText {
    color: blue;
}
