.empresaText {
    display: inline-flex;
    font-size-adjust: 33;
    font-style: italic;
    font-weight: bold;
}

.instaText {
    color: purple;
}

.textoSobreNos {
    color: red;
}

.empresaText {
    color: blue;
}
