.recpass-container h1 {
    border-top: 5px;
    border-bottom: 0;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.3);
}

.recpass-container .submitBtn {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    min-width: 200px;
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.623);
}

.recpass-container .input {
    margin: 5px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.form-recpass-usuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.recpass-error-message {
    margin-top: 1rem;
    color: red;
}
