.reforma-detalhe-main-container {
    min-height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 3px solid rgb(255, 248, 41);
    padding: 0px 20px 0px 20px;
}

.reforma-detalhe-body {
    background: transparent;
}

.reforma-detalhe-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.reforma-detalhe-header :first-child {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
}
